{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <div class="jumbotron text-center"><h1 class="text-primary">Caractéristique du produit : </h1></div>
    <div class="container">
        <h3 class="text-info">{{produit.nom}}</h3>
        <p class="text-success">{{produit.prix}}</p>
    {# <p class="text-success text-center">{{produit.description_produit}}</p> #}
    </div>
{% endblock %}
