{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron"><h1 class="text-center text-success">Inscription</h1></div>
    <div class="container">
        {{ form(form) }}
    </div>
    
{% endblock %}
