{% extends 'base.html.twig' %}
{% block title %}S'inscrire !{% endblock %}
{% block body %}



<div class="jumbotron"><h1 class="text-center text-success">Inscription</h1></div>
    <div class="container">
        <div class="test">
         {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <div class="card" style="width: 40%; margin-left: 30%; padding: 50px;">
       <h1 class="h3 mb-3 font-weight-normal text-success">Veuillez remplir tous les champs :</h1>
        {{ form_start(form) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
        </div>
      </div>
  </div>

{% endblock %}
