{% extends 'base.html.twig' %}
{% block title %}S'inscrire !{% endblock %}
{% block body %}

    <div class="container">
    <div class="jumbotron"><h1 class="text-center text-success">Inscription</h1></div>
        {{ form(form) }}
    </div>
    
{% endblock %}
